page-contact {

}

.PersonalAva{
    width: 10%;
    height: 50%;
    margin-right: auto;
    margin-left: auto; 
}

.loginButton{
    text-align: center;
}
.loginButton button{
    width:50%;
    height: 50%;
    border-color: #fff;
}