<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <button ion-button color="light" (click)="GOaddNewInf($event)">发布新消息</button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf = false>
    <ion-item>
      <ion-select [(ngModel)]="employee" placeholder="省">
        <ion-option *ngFor="let item of Moments">{{item.MomentsID}}</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="employee" placeholder="市">
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item ion-item *ngFor="let item of Moments">
    <ion-card>
      <ion-avatar id="ImaAva">
        <img src="{{item.imgs[0].path}}" cache=true/>
      </ion-avatar>
      <h2 id="username">{{item.author}}</h2>
      <img src={{item.imgs[0].path}} cache=true (click)="GOshowInfo($event,item)">


      <ion-card-content (click)="GOshowInfo($event,item)">
        <p>{{item.title}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-item>
</ion-content>