page-home {

}

ion-card img{
}

#ImaAva{
    width: 10px;
    height: fit-content;
    border:2px;
    border-radius:25px;
    float: left;
    margin-bottom:3px;
}


.label-md,.label-ios {
    margin: 0px 0px 0px 0;
    width:100%;
    height: 100%;
}
ion-item h2{
    margin-left: 200px
}

#p{
    flex: 2;
}

ion-card{
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-color: #000000;
}
label label-md,.card-ios{
    width: 100%;
    height: 100%;
}
ion-app.md [padding],
ion-app.md [padding] .scroll-content {
  padding: 0px;
}
.item-md,.item-ios{
    padding-left: 0px
}
.item-md.item-block .item-inner,.item-ios.item-block .item-inner {
  padding-right: 0px;
}

.card-ios{
    margin:0 0 0 0;
}

ion-select{
    max-width: 50%;
    width: 50%;
}

ion-navbar button{
    text-align: center;
    float:right
}
ion-navbar button ion-icon{
    text-align: center;
    font-size:larger;
}
.button-inner{
    width: 100%;
    height: 100%;
}
ion-img{
    min-width: 80px;
    min-height: 80px;
}

.list-ios {
    margin: 0px 0 0px 0;
}
.item-md, .item-ios {
    padding-top: 10px;
}