.slide-zoom {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

ion-slides {
    height: 50%;
}

.showInfomasterAva{
    width: 10%;
    height: fit-content;
    float: right;
}
.showInfocusAva{
    width: 10%;
    height: fit-content;
}

.demo_line_01{
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 10px;
    border-left: 200px solid #000000;
    border-right: 200px solid #000000;
    text-align: center;
    
}

label label-md, .card-ios {
    height: fit-content;
}
ion-card{
    height: fit-content;
}